<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout/main_layout}">
<script>
    $(function () {
        $('.carousel').carousel({
            interval: 3000,
        })
    });
</script>
<div class="content-wrapper" layout:fragment="content">
    <link href="css/homeboard.css" th:href="@{/css/homeboard.css}" rel="stylesheet">

    <!-- Page Content -->
    <div class="container">
        <br/>
        <div id="hbSlide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#hbSlide" data-slide-to="0" class="active"></li>
                <li data-target="#hbSlide" data-slide-to="1"></li>
                <li data-target="#hbSlide" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/myapp/homeboardView?b_no=139">
                        <img class="w-100" src="https://g-grafolio.pstatic.net/20210113_57/1610529631779XoeqP_JPEG/FEFB511B-8142-40EF-BE98-F171773FE174.jpeg"
                             alt="First slide" id="hb1">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="slide-title"><span>홈파티를 위한 인테리어</span></h4>
                        <p><span>2.5단계에 걸칠 생일에 조촐하게 친구들을 불러...</span></p>
                    </div>

                </div>
                <div class="carousel-item">
                    <a href="/myapp/homeboardView?b_no=124">
                        <img class="d-block w-100"
                             src="<%=request.getContextPath()%>/resources/img/banner/hb_banner02.JPG" id="hb2">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="slide-title"><span>크리스마스 준비🎄🐶</span></h4>
                        <p><span>강아지들과 함께 하는 크리스마스 준비!</span></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="/myapp/homeboardView?b_no=142">
                        <img class="d-block w-100"
                             src="<%=request.getContextPath()%>/resources/img/banner/hb_banner03.JPG" id="hb3">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h4 class="slide-title"><span>북촌의 작은 주택</span></h4>
                        <p><span>모든 소품과 가구 하나하나에 이야기가 서려있답니다...</span></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#hbSlide" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#hbSlide" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container" style="margin-top:45px;">

            <!-- 해시태그 리스트 -->

            <h6>올홈즈에서 지금 가장 인기있는 해시태그로 검색해보세요.</h6>
            <div style="text-align: right;">
            </div>

            <div class="alert alert-info" role="alert">

                <a href="#"><span>#</span>#해시태그</a> <a href="#"><span>#</span>#해시태그</a> <a href="#"><span>#</span>#해시태그</a>

            </div>


            <div class="row">
                <div class="col-10">
                    <h3 id="homeboardTitle">새로 올라온 집들이</h3>
                </div>
                <div class="col-2" style="text-align:right;margin-top:100px;">
                    <a href="/myapp/homeboardTop?order=0">더보기</a>
                </div>


                <!-- 리스트 나오는 곳 -->


                <div class="col-lg-3">
                    <div class="thumbnail">
                        <a href="/myapp/homeboardView?b_no=${vo.b_no }"><img
                                src="<%=request.getContextPath()%>/resources/upload/homeboardImg/${vo.thumbnail }"/></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/myapp/homeboardView?b_no=${vo.b_no }">${vo.title }</a>
                        </div>
                        <img class="profile_pic"
                             src="<%=request.getContextPath()%>/resources/upload/register/${vo.m_pic}"/>
                        <a href="#" class="card-text">${vo.userid }</a>
                        <p class="card-detail">스크랩: ${vo.scrap } | 조회: ${vo.hit } | ${vo.writedate }
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <a href="/myapp/homeboardView?b_no=${vo.b_no }"><img
                                src="<%=request.getContextPath()%>/resources/upload/homeboardImg/${vo.thumbnail }"/></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/myapp/homeboardView?b_no=${vo.b_no }">${vo.title }</a>
                        </div>
                        <img class="profile_pic"
                             src="<%=request.getContextPath()%>/resources/upload/register/${vo.m_pic}"/>
                        <a href="#" class="card-text">${vo.userid }</a>
                        <p class="card-detail">스크랩: ${vo.scrap } | 조회: ${vo.hit } | ${vo.writedate }
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <a href="/myapp/homeboardView?b_no=${vo.b_no }"><img
                                src="<%=request.getContextPath()%>/resources/upload/homeboardImg/${vo.thumbnail }"/></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/myapp/homeboardView?b_no=${vo.b_no }">${vo.title }</a>
                        </div>
                        <img class="profile_pic"
                             src="<%=request.getContextPath()%>/resources/upload/register/${vo.m_pic}"/>
                        <a href="#" class="card-text">${vo.userid }</a>
                        <p class="card-detail">스크랩: ${vo.scrap } | 조회: ${vo.hit } | ${vo.writedate }
                        </p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <a href="/myapp/homeboardView?b_no=${vo.b_no }"><img
                                src="<%=request.getContextPath()%>/resources/upload/homeboardImg/${vo.thumbnail }"/></a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/myapp/homeboardView?b_no=${vo.b_no }">${vo.title }</a>
                        </div>
                        <img class="profile_pic"
                             src="<%=request.getContextPath()%>/resources/upload/register/${vo.m_pic}"/>
                        <a href="#" class="card-text">${vo.userid }</a>
                        <p class="card-detail">스크랩: ${vo.scrap } | 조회: ${vo.hit } | ${vo.writedate }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>