<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!-- Custom styles for this template -->
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link href="css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
    <title th:text="${pageTitle}"></title>

    <!--Bootstrap JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</head>


<body>
<div class="text-center">
        <div style="margin-top:150px;"></div>
        <div class="form-signin">
            <a href="#" th:href="@{/}"><img src="/img/homes_logo.png" style="width:200px"></a><br/>
            <h1 class="h3 mb-3 fw-normal">로그인하세요</h1>
            <label for="inputId" class="visually-hidden">아이디</label>
            <input type="text" name="userid" id="inputId" class="form-control" placeholder="아이디를 입력하세요" required autofocus>
            <label for="inputPassword" class="visually-hidden">비밀번호</label>
            <input type="password" name="userpwd" id="inputPassword" class="form-control" placeholder="비밀번호를 입력하세요" required>
            <button class="w-100 btn btn-lg btn-primary" type="button" onclick="goLogin();">로그인</button>
            <p class="mt-5 mb-3 text-muted">&copy;2021</p>
        </div>
</div>
</body>
<script>


    function goLogin() {
        var param = {
            userid: $('#inputId').val(),
            userpwd: $('#inputPassword').val()
        }
        $.ajax({
            url : "/account/loginOk",
            data :param,
            dataType: 'json',
            type : "POST"
        }).done(function(data){
            console.log(data);
            switch (data.resultCode) {
                case 200:
                    location.href ="/"
                    break;
                case 300:
                case 301:
                case 302:
                    alert(data.resultMsg);
                    break;
            }
        }).fail(function(data){
            alert("삭제 실패했습니다. 다시 시도해 보시기 바랍니다.");
            return false;
        });

    }



</script>
</html>
