<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
    <main class="container">
        <!-- Custom styles for this template -->

        <div class="text-center py-5 px-3">
            <h2>테스트 게시판</h2>
            <div>총건수: <span th:text="${size}"></span></div>
            <div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">코드</th>
                        <th scope="col">이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="test : ${list}">
                        <td th:text="${test.seqId}"></td>
                        <td th:text="${test.setName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a type="button" class="btn btn-primary" th:href="@{/form}">추가하기</a>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    </main><!-- /.container -->

</div>
</html>
