<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header class="main-header" th:fragment="headerFragment">
    <style>
        .text{
            font-family: 'SCDream5', sans-serif;
        }
    </style>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f7d7d2;">
            <div id="homes-log-div">
                <a href="/">
                    <img src="img/homes_logo.png" th:src="@{/img/homes_logo.png}" id="homesLogo">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">집들이</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#" th:href="@{/homeboard/main}">집들이메인</a>
                            <a class="dropdown-item" href="#">집들이베스트</a>
                            <a class="dropdown-item" href="#">집들이테마</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">스토어</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="#">스토어메인</a>
                            <a class="dropdown-item" href="#">스토어베스트</a>
                        </div>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#" th:href="@{/test}">질문과답변</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#" th:href="@{/mypage}">마이페이지</a>
                    </li>
                </ul>
                <div class="searchBox homes-searchbox">
                    <input type="text" class="form-control" placeholder="Search"
                           id="searchKey" aria-label="Search"
                    aria-describedby="searchA">
                    <button type="button" id="searchBtn" class="btn searchBtn">
                        <i class="fas fa-search" style="color:white;"></i></button>
                </div>

                <ul class=" navbar-nav mr-auto homes-loginbox">
                    <li class="nav-item active">

                        <a  th:if="${session.logStatus =='N'}" class="nav-link" href="${/account/login">로그인</a>
                        <a  th:if="${session.logStatus =='Y'}" class="nav-link" href="/account/logout">로그아웃</a>
                    </li>
                    <li class="nav-item active">
                        <a th:if="${session.logStatus =='N'}" class="nav-link" href="#">화원가입</a>
                        <a th:if="${session.logStatus =='Y'}" class="nav-link" href="javascript:void(0);"
                                                        th:text="${session.userInfo.username}" style="cursor:default;"></a>
                    </li>
                </ul>




            </div>
        </nav>
    </div>
</header>
