@font-face {
    src: url("../fonts/SCDream5.otf") format("opentype");
    font-family: "SCDream5";
    font-style: normal;
    font-weight: normal;
}

@font-face {

    src: url("../fonts/SCDream3.otf") format("opentype");
    font-family: "SCDream3";
    font-style: normal;
    font-weight: normal;
}


.navbar {
    width: 100%;
    height: 100px;
    font-family: 'SCDream5';
    font-size: 20px;
    min-height: 50px;
}


#homesLogo {
    width: 150px;
}

.nav-item a:hover {
    color: #ee8374;
}

.searchBox {
    display: flex;
}

#homes-log-div {
    padding-left: 10px;
    padding-right: 50px;
}

.homes-searchbox{
    padding: 0 30px;

}
#searchKey{
    border-radius: 20px;
}

#searchBtn{
    border-radius: 20px;
    background-color:#EE8374;
}
.homes-loginbox{
    font-size:15px;
    color:black;

}
