.col-3, .col-lg-3, .col-xs-6{
    text-align:center;
    margin-bottom:10px;
}
.card-body {
    padding-top:10px;
    height:150px;
    flex: none;
    overflow: hidden;
}

.thumbnail{
    padding:0px;
    margin:0px;
    width:320px;
    height: 207px;
    overflow: hidden;
    border-radius: 5%;
}

.thumbnail img {
    width:100%;
    text-align: center;
    overflow: hidden;
}
.card-title {
    padding:0px;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-title>a:link, .card-title>a:visited, .card-title>a:hover,
.card-title>a:active {
    text-decoration: none;
}
.card-text {
    font-size: 14px;
}
.card-detail {
    font-size: 11px;
}
.container{
    max-width:1700px;
    margin: 0 auto;
    font-family: 'SCDream3';
}
.profile_pic{
    width:25px;
    border-radius: 45%;
}

#homeboardTitle {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-family:'SCDream5'
}

.carousel-item {
    text-align:center;
    width:100%;
    height:500px;
    overflow:hidden;

}

.slide-title>span{
    background-color:white;
    color:black;
    font-family:'SCDream5'
}

.carousel-caption>p>span{
    color:white;
    background-color:rgba(255,255,255, 0.3);

}